@model BTTrenlop17_10.Models.TVCLoaiSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVCLoaiSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCMaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCMaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCTenLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCTenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCTrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PVCId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
