@model IEnumerable<Day0Lab.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGiaMua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaMua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.MaHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.MaSanPham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
