@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Student>


<div>
    <partial name="TopNav" />
    <div class="flex">

    </div>
    <partial name="LeftMenu" />
</div>
<div>
    <div class="mb-3">
        <a asp-controller="Student" asp-action="Create" class="btn btn-primary">Create Student</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã</th>
                <th>Họ tên</th>
                <th>Avatar</th>
                <th>Ngày sinh</th>
                <th>Ngành</th>
                <th>Giới tính</th>
                <th>Hệ ĐT</th>
                <th>Địa chỉ</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>
                        <img src="@(string.IsNullOrEmpty(s.Avatar) ? "/images/noimage.png" : s.Avatar)" 
                             width="80" height="80" style="border-radius:50%" />
                    </td>
                    <td>@s.DateOfBorth</td>
                    <td>
                        @{
                            string str = s.Branch switch
                            {
                                Branch.IT => "CNTT",
                                Branch.BE => "Kinh tế",
                                Branch.CE => "Công trình",
                                Branch.EE => "Điện – Điện tử",
                                _ => ""
                            };
                        }
                        @str
                    </td>
                    <td>@(s.Gender == Gender.Male ? "Nam" : "Nữ")</td>
                    <td>@(s.IsRegular ? "Chính quy" : "Phi chính quy")</td>
                    <td>@s.Address</td>
                    <td>@s.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>