@model BTTrenlop17_10.Models.TVCSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVCSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCMasanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCMasanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCTenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCTenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCHinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCHinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCDonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCDonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVCLoaiSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVCLoaiSanPham.PVCId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TVCId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
